<template>
  <div>
    <p v-if="screenshotLink == 'loading'">loading...</p>
    <span v-else class="phone__container">
      <span class="phone__notch"></span>
      <div
        :style="{ backgroundImage: 'url(' + screenshotLink + ')' }"
        class="phone__frame"
      >
        <img :src="screenshotLink" alt="something" class="phone__phone" />
      </div>
    </span>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'AsyncScreenshot',
  props: {
    inputUrl: {
      type: String,
      required: true
    }
  },
  data() {
    // 'https://storage.cloud.google.com/hannes-cool/todayhannescool.png'
    return {
      screenshotLink: 'loading'
    }
  },
  created() {
    this.getWebsiteScreenshotUrl()
  },
  methods: {
    async getWebsiteScreenshotUrl() {
      const cloudFunctionUrl =
        'https://us-central1-driven-slice-263608.cloudfunctions.net/take-screenshoft'
      const { data } = await axios.post(cloudFunctionUrl, {
        url: this.inputUrl
      })
      this.screenshotLink = data.screenshotUrl
    }
  }
}
</script>

<style lang="scss" scoped>
.phone {
  &__container {
    display: block;
    position: relative;
  }
  &__notch {
    background: lightgray;
    border-radius: 0 0 1rem 1rem;
    position: absolute;
    width: 10rem;
    height: 2rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  &__frame {
    -webkit-box-shadow: inset 0px 0px 0px 10px lightgray;
    -moz-box-shadow: inset 0px 0px 0px 10px lightgray;
    box-shadow: inset 0px 0px 0px 10px lightgray;
    border-radius: 1rem;
  }
  &__phone {
    border-radius: 1rem;
    position: relative;
    z-index: -1;
  }
}
</style>
