<template>
  <div class="app">
    <div class="column-container column-container--1c">
      <logo />
      <h1>hannes cool</h1>
      <h2 class="subtitle">
        my first nuxt project striving to become the best personal website on
        this planet :)
      </h2>
    </div>
    <div
      v-for="(description, descIndex) in projectDescriptions"
      :key="descIndex"
      class="column-container column-container--2c"
    >
      <div class="column-container--left">
        <AsyncScreenshot :inputUrl="description.website" />
      </div>
      <div class="column-container--right">
        <h1>{{ description.title }}</h1>
        <h2>app bio</h2>
        <p>{{ description.bio }}</p>
        <span v-if="description.website">
          <br />--&gt;
          <a :href="description.website">website</a>
        </span>
        <h2 v-if="description.tech.frontend">frontend stack</h2>
        <div v-if="description.tech.frontend" class="column-container">
          <div
            v-for="(frontend, frontendIndex) in description.tech.frontend"
            :key="frontendIndex"
          >
            <div class="row-container stack-container">
              <img :src="getSvgPath(frontend)" />
              <p>{{ frontend }}</p>
            </div>
          </div>
        </div>
        <h2 v-if="description.tech.backend">backend stack</h2>
        <div v-if="description.tech.backend" class="column-container">
          <div
            v-for="(backend, backendIndex) in description.tech.backend"
            :key="backendIndex"
          >
            <div class="row-container">
              <img :src="getSvgPath(backend)" />
              <p>{{ backend }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Logo from '~/components/Logo.vue'
import AsyncScreenshot from '~/components/AsyncScreenshot.vue'

export default {
  components: {
    Logo,
    AsyncScreenshot
  },
  computed: {
    projectDescriptions() {
      const repositories = this.repositories
      const descriptions = []
      if (repositories) {
        repositories.forEach((repo) => {
          if (repo.description) {
            descriptions.push(JSON.parse(repo.description))
          }
        })
        return descriptions
      } else {
        return undefined
      }
    }
  },
  async asyncData() {
    const { data } = await axios.get(
      'https://api.bitbucket.org/2.0/repositories/hooannaeis'
    )
    return {
      repositories: data.values
    }
  },
  methods: {
    getSvgPath(logoName) {
      const name = logoName.toLowerCase()
      const pathDict = {
        'google firebase': '/logos/firebase.svg',
        'google firestore': '/logos/firebase.svg',
        vuejs: '/logos/vuejs.svg',
        netlify: '/logos/netlify.svg',
        redis: '/logos/redis.svg',
        nodejs: '/logos/nodejs.svg'
      }
      return pathDict[name]
    }
  }
}
</script>

<style scoped lang="scss">
$break-tablet: 768px;
$break-desktop: 1024px;

$background-dark-2: #010024;
$background-dark: #141414;
$background-middle: #adb8c4;
$background-middle-2: #98b1e6;

.app {
  margin: 0 auto;
  min-height: 100vh;
  background-image: linear-gradient(black, $background-dark-2);
  color: $background-middle;
}

.column-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin: 1rem;
  &--1c {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
  }
  &--2c {
    min-height: 100vh;
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'left right';
    grid-column-gap: 2rem;
    margin: 2rem 0;
    border-bottom: 3px dotted $background-middle;
    @media screen and (max-width: $break-tablet) {
      grid-template-columns: 1fr;
      grid-template-areas: 'left' 'right';
      grid-row-gap: 3rem;
    }
  }
  &--left {
    grid-area: left;
    justify-self: center;
    @media screen and (max-width: $break-tablet) {
      max-height: 40vh;
      -webkit-box-shadow: inset 0px -22px 28px -9px $background-dark;
      -moz-box-shadow: inset 0px -22px 28px -9px $background-dark;
      box-shadow: inset 0px -22px 28px -9px $background-dark;
      overflow: hidden;
    }
  }
  &--right {
    grid-area: right;
    justify-self: start;
    @media screen and (max-width: $break-tablet) {
      justify-self: center;
    }
  }
}

.row-container {
  display: flex;
  justify-items: bottom;
  align-items: center;
  flex-direction: column;
  margin: 0 1rem;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: $background-middle-2;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.phone-img {
  max-width: 100vw;
}

a {
  text-decoration: none;
  color: $background-middle;
  border-bottom: 1px solid $background-middle;
}

h1 {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 3rem;
  font-weight: 300;
  background: white;
  color: $background-dark-2;
  padding: 0.8rem;
}

h2 {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  font-weight: 300;
  border-bottom: 1px solid $background-middle;
  margin-top: 1rem;
  padding: 0.2rem;
}
</style>
